body {
	background: #f9f9f9;
}

#header {
	margin: 0;
	padding: 0;
	height: 46px;
	border-bottom:#c6c6c6 1px solid;
	background: #d9d9d9; /* fallback color */
	background:-moz-linear-gradient(bottom,  #d7d7d7,  #e4e4e4);
	background:-webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#e4e4e4));
}

#header a {
	color: #464646;
	text-decoration: none;
}

#header h1 {
	font: normal 22px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 10px 8px 5px;
	color: #464646;
	background: transparent;
	margin: 0;
	float: left;
}

#header h1 a {
	color: #464646;
	background: transparent;
}

#header h1 a:hover {
	color: #464646;
	background: transparent;
	text-decoration:underline;
}




#navigation{
	padding: 0;
	background-color: #CCCC66;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#D7D7D7), to(#E4E4E4));
	border-bottom:#c6c6c6 1px solid;
	clear: both;
	color: #333;
	overflow: auto;
}

#navigation {
	overflow: hidden;
	}

#navlist    {
	margin: 0px;
	}

#navigation ul li {
	list-style-type: none;
	line-height:32px;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	text-align: center;
	}

#navigation ul li a {
	color: #003d4c;
	font-weight: 100;
	text-decoration: none;
	display: block;
	line-height:32px;
	padding: 0 10px;
	}

#navigation li a.active { background: #003d4c; }
#navigation li a.active { color: #fff; }
#navigation a:hover { color: #fff; background: #003d4c; }









#content {
}





/* Admin Footer */
#footer {
	border-top: 1px;
	border-style: solid;
	color: #777;
	border-color: #d1d1d1;
	background: #d9d9d9; /* fallback color */
	background:-moz-linear-gradient(bottom,  #d7d7d7,  #e4e4e4);
	background:-webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#e4e4e4));
}

#footer,
#footer a {
	font-size: 12px;
}

#footer p {
	margin: 0;
	padding: 15px;
	line-height: 15px;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}
























form div {
	clear: none;
	margin-bottom: 0;
}

div.items {
	clear: both;
}

.btnbar { float: right; }

ul.horiz li
{
	float: left;
	display: inline;
	list-style-type: none;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: baseline;
}
ul.nav li a { display: block; padding: 0 3px 0 0;}



















/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    padding: 3px 8px;
    background-color: white;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 350px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}


div.box { padding: 0; }

